.ec.json.backup
[
    {
        "id": "446a6f095749bfcc",
        "type": "tab",
        "label": "Currently everything is in 1 flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "28288c6f6890ad09",
        "type": "junction",
        "z": "446a6f095749bfcc",
        "x": 280,
        "y": 520,
        "wires": [
            [
                "4d2067adefbd959b"
            ]
        ]
    },
    {
        "id": "bf249592dcf2a3c6",
        "type": "json",
        "z": "446a6f095749bfcc",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 610,
        "y": 220,
        "wires": [
            [
                "f1b231089f73e0ab"
            ]
        ]
    },
    {
        "id": "cd9c41ba0290352c",
        "type": "file in",
        "z": "446a6f095749bfcc",
        "name": "product JSON file",
        "filename": "C:\\Users\\YBenyamin\\Documents\\Projects\\Harman EC\\products.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 430,
        "y": 220,
        "wires": [
            [
                "bf249592dcf2a3c6"
            ]
        ]
    },
    {
        "id": "c7eec2c6fc5c83f8",
        "type": "inject",
        "z": "446a6f095749bfcc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 220,
        "wires": [
            [
                "cd9c41ba0290352c"
            ]
        ]
    },
    {
        "id": "26bd10f3b7db4bbf",
        "type": "debug",
        "z": "446a6f095749bfcc",
        "name": "file loaded",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 220,
        "wires": []
    },
    {
        "id": "f1b231089f73e0ab",
        "type": "change",
        "z": "446a6f095749bfcc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "products",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 220,
        "wires": [
            [
                "26bd10f3b7db4bbf"
            ]
        ]
    },
    {
        "id": "f5826dddb4f3d0aa",
        "type": "inject",
        "z": "446a6f095749bfcc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 360,
        "wires": [
            [
                "9de3421a370fba6b"
            ]
        ]
    },
    {
        "id": "5b8a1d81bb10de8a",
        "type": "debug",
        "z": "446a6f095749bfcc",
        "name": "saved",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 360,
        "wires": []
    },
    {
        "id": "9de3421a370fba6b",
        "type": "change",
        "z": "446a6f095749bfcc",
        "name": "save the products as global.products",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "products",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 360,
        "wires": [
            [
                "5b8a1d81bb10de8a"
            ]
        ]
    },
    {
        "id": "f6953d10ccbb451f",
        "type": "inject",
        "z": "446a6f095749bfcc",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3",
        "payloadType": "num",
        "x": 150,
        "y": 520,
        "wires": [
            [
                "28288c6f6890ad09"
            ]
        ]
    },
    {
        "id": "c47449c7c8b677c2",
        "type": "debug",
        "z": "446a6f095749bfcc",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 520,
        "wires": []
    },
    {
        "id": "4d2067adefbd959b",
        "type": "function",
        "z": "446a6f095749bfcc",
        "name": "function 1",
        "func": "let products = global.get(\"products\")\n//msg.payload = products\n\nfor(let i = 0; i < products.length; i++){\n    if (products[i].product_key == msg.payload){\n        msg.payload = products[i].product_url;\n        return msg;\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 520,
        "wires": [
            [
                "c47449c7c8b677c2"
            ]
        ]
    },
    {
        "id": "5479b2640b0c4a3a",
        "type": "inject",
        "z": "446a6f095749bfcc",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 150,
        "y": 480,
        "wires": [
            [
                "28288c6f6890ad09"
            ]
        ]
    },
    {
        "id": "fd36bb71ff28973f",
        "type": "inject",
        "z": "446a6f095749bfcc",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 150,
        "y": 440,
        "wires": [
            [
                "28288c6f6890ad09"
            ]
        ]
    },
    {
        "id": "6b69d9983cc997fe",
        "type": "inject",
        "z": "446a6f095749bfcc",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "4",
        "payloadType": "num",
        "x": 150,
        "y": 560,
        "wires": [
            [
                "28288c6f6890ad09"
            ]
        ]
    },
    {
        "id": "fb4edaf4cadf295c",
        "type": "inject",
        "z": "446a6f095749bfcc",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 150,
        "y": 600,
        "wires": [
            [
                "28288c6f6890ad09"
            ]
        ]
    },
    {
        "id": "ce8d8698685b3762",
        "type": "inject",
        "z": "446a6f095749bfcc",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "6",
        "payloadType": "num",
        "x": 150,
        "y": 640,
        "wires": [
            [
                "28288c6f6890ad09"
            ]
        ]
    },
    {
        "id": "0f7abbad2a6669d1",
        "type": "comment",
        "z": "446a6f095749bfcc",
        "name": "file location",
        "info": "Please adjust the products.json file location to suit your setup.",
        "x": 400,
        "y": 260,
        "wires": []
    },
    {
        "id": "11805333c96374db",
        "type": "comment",
        "z": "446a6f095749bfcc",
        "name": "reload ?",
        "info": "do we need to reload the file every hour or so?",
        "x": 1080,
        "y": 260,
        "wires": []
    }
]